# FastAPI 서버 구성
fastapi
uvicorn[standard]

# 음성 처리
torchaudio
numpy>=1.23,<2
python-multipart

git+https://github.com/openai/whisper.git

# PyTorch (CUDA 11.8용)
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118

# 음성 변환
pydub

# 음성 분석
praat-parselmouth

# gpt api
openai
dotenv
